#app {
	display: grid;
	grid-template-columns: 10rem 1fr 10rem;
	grid-template-areas: 'left-nav main right-nav';
}

#left-nav {
	grid-area: 'nav';
}

.main-container {
	grid-area: 'main';
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'csv preview';
}

.title {
	font-size: larger;
}

.csv-container {
	grid-area: 'csv';
}

.csv-area {
	font-size: medium;
	height: 20rem;
	width: 90%;
}

.preview-container {
	grid-area: 'preview';
}

.preview-area {
	font-size: medium;
	height: 20rem;
	width: 90%;
	border: solid medium;
	border-collapse: collapse;

	td {
		border: solid thin;
	}
}
